@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap'); /*Font Poppins*/
@import url('https://fonts.googleapis.com/css2? family= Gurajada & family= Poppins:wght@500 & display=swap'); /*Font Gurajada*/




.container-800 {
    max-width: 800px;
    margin: auto;
}




.img-hero {
    background: url(/assets/Img/Hero.jpg) center/cover;
    height: calc(100vh - 125px);
}


.banner-hero-color {
    background: rgba(0, 0, 0, 0.605);
    height: 100%;
    display: flex;
}


.wrapper-hero {
    display: flex;
    flex-direction: column;
    align-content: center;
}


h1 {
    color: white;
}


button {
    width: fit-content;
    margin: auto;
}


.dad-card {
    padding: 200px 0px;
}


.card {
    display: grid;
    grid-template-columns: 40% 60%;
}


.img-card {
    /* background: url(/assets/Img/slider-img-activite.png); */
    width: 300px;
    height: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.wrapper-right-card {
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrapper-text-button {
    padding: 30px;
}


.button-next-page {
    background: lightgrey;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.button-next-page:active {
    background: rgb(221, 221, 221);
}
