@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap"); /*Font Poppins*/
@import url("https://fonts.googleapis.com/css2? family= Gurajada & family= Poppins:wght@500 & display=swap"); /*Font Gurajada*/

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.card {
  display: flex;
  align-items: center;
  padding: 25px;
}

.cardright {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imageleft {
  display: flex;
  height: 100%;
  width: 40%;
  margin-top: 5px;
}

.imageright {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}

img {
  height: 100%;
  width: 80%;
  border-radius: 15px;
}

.text {
  height: 100%;
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    justify-content: center;
  }

  .cardright {
    flex-direction: column;
    justify-content: center;
  }

  .text {
    height: 100%;
    width: 100%;
  }
  .imageleft {
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .imageright {
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
