@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap'); /*Font Poppins*/
@import url('https://fonts.googleapis.com/css2? family= Gurajada & family= Poppins:wght@500 & display=swap'); /*Font Gurajada*/


body{
    background-image: url(/assets/Img/Image\ Tarif.png);
    margin: 0;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
    
.container{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 2%;
        
}

.card{
        padding-top: 40px;
        margin-top: 50px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
       
        
        
     
}

.img{
    background-size: contain;
    background-image: url("/assets/Img/Triceratops.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%, 0);
   
    
    
}

.img2{
    background-size: contain;

    background-image: url("/assets/Img/Spinosaure.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%, 0);
   
    

}
.img3{
    background-size: contain;
    background-image: url("/assets/Img/T-Rex.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%, 0);
    padding-top: 55%;
    margin-top: 0;
    
    

}


.trex{
    display: flex;
    justify-content: center;
}

span{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    
}

h2{
    width: 350PX ;
    background-color: #ce8066;
    border: solid #ce80660a ;
   
    
}
    

h3{
    text-decoration:underline #CE8066;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


.text{
    
    padding: 3%;
    text-align: left;
    line-height: 180%;
}
